#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}

.main__container {
  width: 350px;
  height: 500px;
  background-color: #f1f1f1;
  position: relative;
}
.auth__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth__container h2 {
  margin-bottom: 60px;
  font-size: 35px;
  font-weight: 500;
  color: black;
  background-color: #f1f1f1;
}

.auth__container p {
  display: flex;
  text-align: center;
  color: red;
}

.auth__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.auth__container input {
  box-sizing: border-box;
  display: block;
  border: none;
  outline: none;
  margin-bottom: 15px;
  width: 250px;
  height: 30px;
  padding: 10px;
  font-size: 15px;
  line-height: 10px;
  background-color: #c0c0c0;
  border-radius: 15px;
}

.auth__container input:last-child {
  border: none;
  cursor: pointer;
  height: 50px;
  margin-top: 35px;
  font-size: 18px;
  font-weight: 500;
  background-color: #333333;
  color: white;
  border-radius: 20px;
}

.auth__container button {
  border: none;
  width: 250px;
  height: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #333333;
  color: white;
  border-radius: 15px;
}

.auth__container button .link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: white;
}

.createaccount__container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.navigation {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: #333;
  height: 50px;
  align-items: center;
  color: white;
}

.navigation .link {
  color: white;
  text-decoration: none;
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.navigation button {
  border: none;
  outline: none;
  background-color: #333;
}

.navigation button .link {
  width: 80px;
  height: 40px;
  display: inline-block;
}

h1 {
  background-color: #333;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  box-sizing: border-box;
  font-size: 18px;
  margin-bottom: 10px;
}

.user,
.chat {
  height: 390px;
  overflow: auto;
}

.user__container,
.chat__container {
  margin: 8px 15px;
  border-bottom: 3px solid #dddddd;
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  font-size: 14px;
}

.user__container span:last-child,
.chat__container span {
  font-size: 8px;
  color: rgb(148, 148, 148);
}

.chat__container {
  position: relative;
}

.chat__container span {
  position: absolute;
  right: 30px;
}

.chat__container .link {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  font-size: 14px;
}

.chats__container .first__btn {
  position: absolute;
  top: 12px;
  right: 8px;
  background-color: whitesmoke;
  color: #333;
  border-radius: 8px;
  border: none;
  padding: 5px 7px;
  font-size: 14px;
  cursor: pointer;
}

.hidden__container {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden__container input:first-child {
  width: 195px;
  border: none;
  padding: 5px 10px;
  background-color: #c0c0c0;
  border-radius: 8px;
  font-size: 12px;
}

.hidden__container button {
  padding: 5px;
  border: 1px solid #c0c0c0;
  margin: 0 3px;
  border-radius: 7px;
  color: #333;
}

.hidden__container input:last-child {
  padding: 5px;
  border: 1px solid #c0c0c0;
  color: #333;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
}

.profile__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profile__container .user__name {
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  font-size: 15px;
  font-weight: 700;
}

.profile__container .user__name p:first-child {
  margin-bottom: 10px;
  font-size: 22px;
}

.profile__container .editname__btn {
  border: none;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}

.profile__container input:first-child {
}

.profile__container .logout__btn {
  border: none;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 20px;
}

.profile__container form {
  margin-top: 15px;
}
.profile__container form input:first-child {
  background: #c0c0c0;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
}

.profile__container form button {
  padding: 5px 10px;
  border: none;
  border: 1px solid #c0c0c0;
  margin: 0 5px;
  border-radius: 5px;
}

.profile__container form input:last-child {
  border: none;
  padding: 5px 10px;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
}

.message__form {
  width: 100%;
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message__form input:first-child {
  padding: 6px 13px;
  margin: 5px;
  width: 260px;
  border-radius: 10px;
  background-color: #c0c0c0;
  border: none;
  font-size: 13px;
}

.message__form input:last-child {
  padding: 6px;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  font-size: 12px;
  color: #333;
}

.message {
  height: 350px;
  overflow: auto;
}

.message div {
  color: black;
  padding: 5px 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.message .owner__message {
  flex-direction: row-reverse;
}

.user__name {
  font-size: 13px;
}

.message__content {
  display: flex;
}

.message .owner__message .message__content {
  display: flex;
  flex-direction: row-reverse;
}

.message__content span {
  display: block;
}

.message__content span:last-child {
  background-color: white;
  border: 1px solid #c0c0c0;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 0 5px;
  font-size: 14px;
}

.message .date {
  font-size: 10px;
}

.message .delete__btn {
  margin-left: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 6px;
  padding: 3px;
  color: #333;
}
